[data-tooltip] {
	display: inline-block;
	position: relative;
}

[data-tooltip="block"] {
	display: block;
}

/* cancels out flash of tooltip as JS gets setup  */
.js [data-tooltip-tip] {
	visibility: hidden;
}

.tooltip,
.tt /* test class */ {
	background: #fafafa;
	border-radius: 3px;
	border: 1px solid #aaa;
	bottom: calc(90% + 12px);
	font-size: .825em;
	left: 0;
	margin: auto;
	max-width: 280px;
	opacity: 0;
	padding: .625em;
	pointer-events: none;
	position: absolute;
	right: 0;
	transform: translateY(1em);
	transition:
		opacity .2s ease-out,
		transform .2s ease-out,
		visibility .2s ease-out;
	transition-delay: .5s;
	visibility: hidden;
	width: 100vw;
	z-index: 2;
}

.tooltip:after {
	content: "";
	position: absolute;
}

.tooltip > * {
	position: relative;
	z-index: 2;
}

.tooltip > * {
	margin: .5em 0;
}

.tooltip :last-child {
	margin-bottom: 0;
}
.tooltip :first-child {
	margin-top: 0;
}

.tooltip.tooltip--show,
.tt.tooltip--show {
	opacity: 1;
	transform: translateY(0em);
	visibility: visible;
}


.tooltip.tooltip--closed {
	display: none;
}


/**
 * Re-adjust tooltip based on if it would otherwise
 * flow out of the viewport window
 */
.tooltip--show.tooltip--push-left {
	left: 0;
	right: auto;
}

.tooltip--show.tooltip--push-right {
	transform: translateX(-45%);
	transition: none;
}

.tooltip--show.tooltip--push-up {
	bottom: 100%;
	top: auto;
}

.tooltip--show.tooltip--push-down {
	bottom: auto;
	top: 100%;
}
