body, html { font-family: arial; font-size: 16px; margin: 0; padding: 0; overflow-x: hidden;}
h1, h2, h3, h4 ,h5 ,h6, p { margin-top: 0; } hr { margin: 40px 0; }
p, li { line-height: 1.4; margin: 0 0 16px; } button, html [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; cursor: pointer; font-family: inherit; font-style: inherit; } input[type="submit"]::-moz-focus-inner, button[type="submit"]::-moz-focus-inner, button:-moz-focusring, input:-moz-focusring { outline: 0; } button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; } code,kbd { background: #efefef; font-size: .825em; padding: 2px 4px; display: inline-block; line-height: 1; }
.content-area { padding: 2em 1.25em }
.page { max-width: 660px; margin: auto; padding: 3em 0;}
pre { display: block; }
pre code {
	background: #fafafa;
	border: 1px solid #666;
	display: block;
	padding: .55em;
}

input:not([type="checkbox"]),
input:not([type="radio"]) {
	display: block;
	width: 100%;
}

button:focus {
	outline: 2px solid;
	outline-offset: 2px;
}

input,
select {
	font-size: inherit;
	margin-top: .325em;
}


section, h3 {
	border-top: 1px solid #ccc;
	margin-top: 2em;
	padding-top: 2em;
}


.flex {
	display: flex;
}
